<header>
  <nav class="navbar">
    <div class="top-row">
      <div class="logo-container">
        <span class="brand-name">GermanReader</span>
      </div>
      <div class="nav-buttons">
        <button *ngIf="!isLoggedIn" routerLink="/login" class="login-button">Login</button>
        <button *ngIf="!isLoggedIn" routerLink="/signup" class="signup-button">Signup</button>
        <button *ngIf="isLoggedIn" (click)="logout()" class="logout-button">Logout</button>
      </div>
    </div>
    <div *ngIf="isLoggedIn" class="nav-tabs">
      <a routerLink="/text" class="tab">Text</a>
      <a routerLink="/dictionary" class="tab">Dictionary</a>
      <a routerLink="/vocab" class="tab">Vocabulary</a>
    </div>
  </nav>
</header>
