<div class="welcome-component">
  <!-- Dictionary Feature -->
  <div class="feature">
    <div class="feature-content">
      <div class="description">
        <h2>Dictionary</h2>
        <ul>
          <li>Use Wikidictionary (prepared) or your own uploaded dictionary.</li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Look-up Feature -->
  <div class="feature">
    <div class="feature-content">
      <div class="description">
        <h2>Look-up</h2>
        <ul>
          <li>Grammar-aware translation.</li>
          <li>Automatic detection of separable verbs.</li>
          <li>Phrase lookups.</li>
          <li>Expand queries with 'Search'.</li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Vocabulary Feature -->
  <div class="feature">
    <div class="feature-content">
      <div class="description">
        <h2>Vocabulary</h2>
        <ul>
          <li>Manage your own vocabulary.</li>
          <li>Delete selected words, duplicate, export to .csv.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
