<div appTextSelection *ngIf="visible" class="popup" [style.top.px]="position.y" [style.left.px]="position.x">
  <div class="search-container">
    <input type="text" [(ngModel)]="searchQuery" placeholder="Show all results" (keydown.enter)="searchAll()" #searchInput>
    <button (click)="searchAll()">Show all</button>
    <button (click)="decompound()">Decompound</button>
  </div>  
  <ng-container *ngIf="loading; else loadedContent">
    <div class="loading">Loading...</div>
  </ng-container>
  <ng-template #loadedContent>
    <div class = "section prepared-section">
      <h2>Wikidictionary</h2>
      <div *ngFor="let item of preparedItems">
        {{ item.word }}: {{ item.definition }}
        <button *ngIf="item.inflection" (click)="item.showMore = !item.showMore">See more</button>
        <!-- Add word button -->
        <button *ngIf="item.isWord && !item.isAdded" (click)="addWordToVocabList(item)">Add word</button>
        <!-- Inflection displayed with line breaks on 'See more' toggle -->
        <div *ngIf="item.showMore" [innerHTML]="formatInflection(item.inflection)"></div>
      </div>
    </div>
    <div class = "section custom-section">
      <h2>Custom</h2>
      <div *ngFor="let item of customItems">
        {{ item.word }}: {{ item.definition }}
        <button *ngIf="item.inflection" (click)="item.showMore = !item.showMore">See more</button>
        <!-- Add word button -->
        <button *ngIf="item.isWord && !item.isAdded" (click)="addWordToVocabList(item)">Add word</button>
        <!-- Inflection displayed with line breaks on 'See more' toggle -->
        <div *ngIf="item.showMore" [innerHTML]="formatInflection(item.inflection)"></div>
      </div>
    </div>
  </ng-template>
</div>
