.popup {
    position: absolute;
    width: 300px; 
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    z-index: 2000; 
  }
  
  .popup .loading {
    padding: 20px;
    text-align: center;
    color: #999;
  }
  
  /* General style for the content */
  .popup div {
    padding: 10px 15px;
    border-bottom: 1px solid #eee; /* horizontal line effect */
  }
  
  /* The last element shouldn't have a border-bottom */
  .popup div:last-child {
    border-bottom: none;
  }
  
  
  