alembic==1.13.1
Flask==2.2.5
Flask_Cors==4.0.0
Flask_JWT_Extended==4.6.0
Flask_Login==0.6.3
Flask_Migrate==4.0.7
flask_sqlalchemy==3.1.1
HanTa==1.1.1
nltk==3.8.1
numpy
psycopg2_binary==2.9.9
python-dotenv==1.0.1
SQLAlchemy==2.0.29
Werkzeug==3.0.2
gunicorn==20.0.0