<div class="text-container" *ngIf="textContent" 
appTextSelection 
(textSelected)="limitedQueryWithoutContext($event)" 
(textContext)="limitedQueryWithContext($event)"
(popUpPosition)="handlePopUp($event)"
(clickOutsidePopUp)="handleClickOutsidePopUp()"
[innerHTML]="textContent">
</div>
<app-definition-pop-up *ngIf="showPopup" 
[data]="popupData" 
[position]="popupPosition" 
[loading]="loadingPopUp"
[visible]="showPopup"
[searchQuery]="searchQuery"
(searchAllClicked)="searchAll($event)"></app-definition-pop-up>