.text-container {
    max-width: 800px; 
    margin: auto;
    padding: 1em;
    background: white;
    height: calc(100vh - 2em);
    overflow-y: scroll;
    line-height: 1.6;
    font-family: 'Times New Roman', serif; 
    font-size: 18px; 
    position: relative
}

.highlight {
    background-color: yellow;
}

.text-selection-button {
    padding: 4px 8px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    cursor: pointer;
    border-radius: 4px;
    margin: 0;
    font-size: 1rem;
    position: absolute;
    z-index: 1000;
    cursor: pointer;
    transform: translateX(-50%);
  }