.text-container {
    max-width: 800px; 
    margin: auto;
    padding: 1em;
    background: white;
    height: calc(100vh - 2em);
    overflow-y: scroll;
    line-height: 1.6;
    font-family: 'Times New Roman', serif; 
    font-size: 18px; 
}
  